In [4]:
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn import linear_model

df = pd.read_csv("multilinearregression.csv",sep=";")

df.head()

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000

In [14]:
independent = df.iloc[:,:3].values
independent
dependent =df.iloc[:,-1].values
dependent

array([510000, 508000, 548000, 650000, 628000, 632000, 680000, 725000],
      dtype=int64)

In [22]:
# linear regression modelini tanımlıyoruz
reg = linear_model.LinearRegression()
reg.fit(df[['alan','odasayisi','binayasi']], df['fiyat'])#önce independent variable sonra dependent variable

# prediction yapalım

reg.predict([[230,4,10]])

array([530243.29284619])

In [23]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [24]:
reg.intercept_

262365.1503032055

In [25]:
# multiple linear regression formülümüze dönersek hatırlayalım :
#y = a + b1X1 + b2X2 +b3X3 + ..

a = reg.intercept_
b1 = reg.coef_[0]
b2 =reg.coef_[1]
b3 =reg.coef_[2]

x1 =230
x2 = 4
x3 = 10
y= a + b1*x1 +b2*x2 + b3*x3

y

530243.2928461881